@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
  font-family: 'Neue Haas', 'Neue Haas Grotesk Display Pro', 'Neue Haas Text Pro', neue-haas, Helvetica, 'Open Sans', Arial, Verdana, Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  background-color: white;
  color: #cc1237;
  font-size: x-large;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 45em;
  min-height: 100vh;
  overflow: scroll;
  padding: 2em 0 2em 0;
}
h1 {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-size: 2em;
  font-style: normal;
  font-weight: 800;
}
p {
  margin: 1em 0 0 0;
}
ul {
  margin: 0 0 1em 2em;
}
table {
  float: right;
  width: 20em;
}
caption, th {
  text-align: left;
}
caption {
  font-weight: bold;
}
#qrcode {
  border-radius: 25px;
  height: 306px;
  padding: 25px;
  width: 306px;
}
#box img {
  height: 128px;
  width: 128px;
}
#qrcode {
  background-color: #FFF;
  margin: 1em auto;
}
#qrcode a img {
  border-width: 0;
}
#instructions, form {
  text-align: left;
  margin: 1em auto;
  padding: 0 1em;
  z-index: 2;
}
/*
p+p {
  text-indent: 1em;
}
*/
q {
  font-style: italic;
}
input {
  font-size: larger;
}
label, .block, button {
  display: block;
}
label {
  clear: both;
  font-size: large;
  font-weight: bold;
}
.block label {
  display: inline;
}
textarea {
  overflow: scroll;
  white-space: nowrap;
  width: 98%;
}
button {
  background-color: #cc1237;
  border-radius: 0.5em;
  color: #FFF;
  font-size: larger;
  margin: 1em 0;
  padding: 0.5em;
}
a {
  color: #cc1237;
  cursor: pointer;
  text-decoration: underline;
}
a.block {
  margin-top: 1em;
}
footer {
  color: #cc1237;
  font-style: normal;
  font-weight: normal;
  line-height: 1.25;
  width: 100%;
}
